.search__form {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  position: relative;
  input {
    all: unset;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2.5px solid ivory;
    // background-color: darkgrey;
    color: ivory;
    font-size: 15px;
    text-align: center;
    width: 90%;
  }
  input::placeholder {
    color: ivory;
    font-size: 15px;
  }
  button {
    all: unset;
  }
  button {
    position: absolute;
    right: 35px;
    top: 35px;
    text-align: center;
    cursor: pointer;
    color: ivory;
  }
}
