.video__data {
  font-size: 15px;
  text-align: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .video__owner {
    margin-bottom: 5px;
    a {
      color: ivory;
    }
  }
  .video__createdAt {
    margin-bottom: 5px;
  }
  a {
    margin-bottom: 5px;
  }
}

.video__comment {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .comment__text {
    padding: 10px 10px;
    background-color: $bg2;
    color: ivory;
    margin-bottom: 10px;
    border-radius: 10000px;
    span {
      .fas.fa-dove {
        text-align: center;
        cursor: pointer;
        margin-left: auto;
      }
    }
  }
}
