.video__data {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .video__owner {
    margin-bottom: 5px;
    a {
      color: ivory;
    }
  }
  .video__createdAt {
    margin-bottom: 5px;
  }
  a {
    margin-bottom: 5px;
    color: ivory;
  }
}

.comment-area {
  .video__add-comment {
    form {
      textarea {
        all: unset;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid ivory;
        margin-bottom: 5px;
        margin-top: 5px;
        color: ivory;
        width: 90%;
        height: 20px;
        text-align: center;
      }
      button {
        position: absolute;
        left: 15px;
        bottom: 15px;
        background-color: $bg2;
        border: 0px;
        font-size: 25px;
        color: ivory;
        cursor: pointer;
        padding: 2px 2px;
        font-weight: lighter;
      }
    }
  }
  .video__comment {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    .comment__text {
      display: grid;
      padding: 10px 10px;
      background-color: $bg2;
      color: ivory;
      margin-bottom: 10px;
      border-radius: 15px;
      font-size: 16px;
      button {
        text-align: center;
        cursor: pointer;
        float: right;
        margin-left: auto;
        border-radius: 1000px;
        background-color: $bg2;
        border: 0px;
        font-size: 18px;
        color: $yellow2;
      }
    }
  }
}
