form {
  a {
    color: $yellow2;
    font-size: 30px;
    margin-top: 10px;
  }
  label {
    font-size: 25px;
  }
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: $bg2;
  border-radius: 10px;
  input[type="submit"] {
    color: $bg2;
    background-color: ivory;
  }
  textarea {
    all: unset;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid ivory;
    margin-bottom: 5px;
    margin-top: 5px;
    color: ivory;
    width: 90%;
    height: 20px;
  }
  button {
    background-color: $bg2;
    border: 0;
    font-size: 20px;
    color: ivory;
  }
}
input:not(input[type="range"], input[type="submit"]) {
  all: unset;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid ivory;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 20px;
  color: ivory;
  width: 90%;
  &::placeholder {
    color: ivory;
    opacity: 50%;
  }
}
input[type="submit"],
.social__btn {
  all: unset;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 90%;
  font-size: 20px;
}
