.empty__message {
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center auto;
  padding: 10px;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 75px;
  padding: 10px;
  justify-content: start;
  position: relative;
}
.auth-switch {
  text-align: center;
  margin: 10px;
  a {
    text-decoration: solid;
  }
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
